.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; }

.left-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 30px; }

.right-content {
  position: relative;
  width: 100%;
  height: 100%; }

.title {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #A9A9A9;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.collection {
  color: #062230;
  font-weight: bold;
  font-size: 36px; }

.description {
  color: #000;
  font-family: Calibri;
  font-style: normal;
  font-size: 20px; }

.color-wrap {
  padding: 0;
  display: flex; }

.color-dot {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 20px 10px 0;
  cursor: pointer; }

.checkMark {
  font-size: 20px;
  color: #FFF; }

.price-tag {
  display: flex;
  padding-bottom: 20px; }

.price {
  font-size: 36px;
  font-weight: 400; }

.shop-btn {
  min-width: 140px;
  background-color: #032031;
  border: none; }

.cart-icon {
  font-size: 36px;
  font-size: 36px;
  margin: auto 0;
  padding: 10px 0;
  cursor: pointer; }

.buy-cart {
  font-size: 36px;
  font-size: 36px;
  margin: auto;
  padding: 10px 30px;
  cursor: pointer; }

.carousel-indicators {
  top: 100%; }

.carousel-thumbnails .carousel-indicators img {
  max-width: 50px;
  height: 50px;
  overflow: hidden;
  display: block; }

.carousel-thumbnails .carousel-indicators li {
  height: auto;
  max-width: 50px;
  width: 50px;
  border: none;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75); }

.control-bg {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-color: #FFF3DC; }

.arrow-icon {
  font-size: 24px;
  color: #000;
  margin: auto; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #carousel-images {
    width: 300px;
    height: 300px;
    margin: auto; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #carousel-images {
    width: 600px;
    height: 600px;
    margin: auto; } }

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 40px 0 10px 0; }
  [slider] div {
    position: absolute;
    left: 0;
    right: 0;
    height: 10px; }
    [slider] div [inverse-left] {
      position: absolute;
      left: 0;
      height: 10px;
      border-radius: 10px;
      background-color: #CCC;
      margin: 0 7px; }
    [slider] div [inverse-right] {
      position: absolute;
      right: 0;
      height: 10px;
      border-radius: 10px;
      background-color: #CCC;
      margin: 0 7px; }
    [slider] div [range] {
      position: absolute;
      left: 0;
      height: 10px;
      border-radius: 14px;
      background-color: #FBC548; }
    [slider] div [thumb] {
      position: absolute;
      top: -5px;
      z-index: 2;
      height: 18px;
      width: 18px;
      text-align: left;
      margin-left: -11px;
      cursor: pointer;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
      background-color: #FBC548;
      border-radius: 50%; }
  [slider] input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }

div[slider] input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent; }

div[slider] input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent; }

div[slider] input[type=range]:focus {
  outline: none; }
  div[slider] input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent; }

div[slider] input[type=range]::-ms-thumb, div[slider] input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0;
  border: 0 none;
  background: red; }

div[slider] input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0;
  border: 0 none;
  background: red;
  -webkit-appearance: none; }

div[slider] input[type=range]::-ms-fill-lower, div[slider] input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none; }

div[slider] input[type=range]::-ms-tooltip {
  display: none; }

[slider] div [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -15px;
  top: -45px;
  z-index: 3;
  background-color: #CCC;
  color: #000;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center; }
  [slider] div [sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #CCC; }
  [slider] div [sign] span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px; }

[slider]:hover div [sign] {
  opacity: 1; }

.container {
  max-width: 960px; }

.filter-text {
  color: #CCC; }

.panel-title {
  border-bottom: 1px solid #ECECEC; }

.panel-text {
  color: #000; }

#accordionMenu {
  max-width: 300px; }

.panel-body {
  padding: 0; }

.panel-default .panel-heading {
  color: #333;
  background-color: #FFF;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .panel-default .panel-heading a {
    display: block;
    padding: 20px 15px;
    text-decoration: none; }
    .panel-default .panel-heading a:after {
      content: "";
      position: relative;
      top: 1px;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 200;
      line-height: 1;
      float: right;
      transition: transform .25s linear;
      -webkit-transition: -webkit-transform .25s linear; }
    .panel-default .panel-heading a[aria-expanded="true"]:after {
      content: "\f077"; }
    .panel-default .panel-heading a[aria-expanded="false"]:after {
      content: "\f078"; }

.nav-item {
  display: flex;
  margin: auto 0;
  cursor: pointer; }

.brand-logo {
  position: relative;
  padding: 0; }

.search-box {
  margin-left: 10px;
  padding: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #FBC548; }
  .search-box:focus {
    outline: none; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  .cart-icon {
    font-size: 28px;
    margin: 10px 0; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
  .main-nav {
    font-size: 20px;
    font-weight: 700; }
  .nav-link {
    padding-left: 20px; }
  .align-nav {
    margin-left: auto; }
  .search-icon {
    font-size: 26px; }
  .cart-icon {
    font-size: 36px;
    margin: auto; }
  .shop-cart {
    padding: 0 15px; } }

.no-gutter {
  padding: 0;
  margin: 0; }

.product-list {
  position: relative;
  width: 100%;
  padding-top: 30px;
  height: auto; }

.product-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; }

.item-container {
  position: relative;
  padding: 20px 20px; }

.img-item {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; }

.white-box {
  position: relative;
  top: -23px;
  left: -1px;
  width: 70%;
  height: 24px;
  background-color: #FFF; }

.item-title {
  position: relative;
  width: 100%;
  top: -23px;
  font-size: 20px;
  font-weight: bold;
  color: #252427;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer; }

.item-detail-top {
  position: relative;
  width: 100%;
  top: -23px;
  font-size: 16px;
  color: #252427;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0; }

.left-detail, .right-detail {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0; }

.left-text {
  color: #A7A7A7; }

.right-text {
  font-size: 20px; }

.item-detail-bottom {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  top: -23px; }

.rating {
  padding: 0;
  margin: auto 0;
  font-size: 20px; }

.cart-icon {
  font-size: 40px;
  cursor: pointer; }

html, body {
  position: relative;
  width: 100%;
  height: 100%; }

.main-logo {
  background: url(../../assets/images/MainLogo.svg) no-repeat;
  background-size: cover; }

.product-pic-1 {
  background: url(../../assets/images/product-images/pic1.jpg) no-repeat;
  background-size: cover; }

.product-pic-2 {
  background: url(../../assets/images/product-images/pic2.jpg) no-repeat;
  background-size: cover; }

.product-pic-3 {
  background: url(../../assets/images/product-images/pic3.jpg) no-repeat;
  background-size: cover; }

.product-pic-4 {
  background: url(../../assets/images/product-images/pic4.jpg) no-repeat;
  background-size: cover; }

.product-pic-5 {
  background: url(../../assets/images/product-images/pic5.jpg) no-repeat;
  background-size: cover; }

.product-pic-6 {
  background: url(../../assets/images/product-images/pic6.jpg) no-repeat;
  background-size: cover; }

.marked {
  color: #000; }

.unmarked {
  color: #CCC; }

@media only screen and (max-width: 600px) {
  .main-logo {
    width: 40px;
    height: 70px; } }

@media only screen and (min-width: 768px) {
  .main-logo {
    width: 70px;
    height: 70px; } }

#pagin li {
  display: inline-block;
  padding: 10px; }
  #pagin li .page-link {
    border: none; }

.current {
  color: #FFF;
  background: #002036; }
